@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Ubuntu";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Ubuntu";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgb(21, 21, 21);
  cursor: none;
  scroll-behavior: smooth;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-family: "Ubuntu", sans-serif;
}
.header__content {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 166px;
  max-width: 1390px;
}
.header__left {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  white-space: nowrap;
  cursor: none;
}
.header__left span {
  font-weight: 300;
  transition: color 1s ease;
}
.header__left:hover {
  text-decoration: none;
  color: #fff;
}
.header__left:hover span {
  color: #440dfe;
}
.header__logo {
  cursor: none;
}
.header__button {
  cursor: none;
  background-color: #440dfe;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 1.5em;
  font-size: 18px;
  font-weight: 400;
  transition: background-color 0.5s ease;
  font-family: "Ubuntu", sans-serif;
}
.header__button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0f003f;
}

@media (max-width: 75em) {
  .header__content {
    max-width: 1690px;
  }
}
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(21, 21, 21);
  z-index: 999;
  transition: 1s all;
  opacity: 1;
  display: flex;
  visibility: visible;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.preloader__container {
  position: relative;
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
}
.preloader__circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: #440dfe;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  animation: spin 4s linear infinite;
}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%, 100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}
.scrolltotop {
  width: 60px;
  height: 60px;
  background-color: #440dfe;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 1.5em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease 0s;
  z-index: 10;
  cursor: none;
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.scrolltotop:hover {
  background-color: #0f003f;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 11;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #fd4679;
}
.cursor--small {
  --size: 10px;
  background: #fd4679;
  transform: translate(-50%, -50%);
}

::selection {
  background-color: #440dfe;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

.progress-bar {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 2px;
  width: 0%;
  background: #440dfe;
}

.page {
  background-color: rgb(21, 21, 21);
  scroll-behavior: smooth;
}

.inscription {
  position: absolute;
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inscription__text {
  font-size: 38px;
  font-weight: 700;
}
.inscription__title {
  padding: 0px 0px 30px 0px;
  color: #fff;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.inscription__subtitle {
  color: #fff;
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main {
  top: 10px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.main__contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  width: 1240px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__bg {
  width: 100%;
  height: 100%;
}

.dots__dot-0 {
  width: 0;
  height: 0;
  position: absolute;
  font-family: "Raleway", sans-serif;
  left: 24.4%;
  top: 57.5%;
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.dots__dot-0:hover .dots__card {
  visibility: visible;
  opacity: 1;
}
.dots__dot-1 {
  width: 0;
  height: 0;
  position: absolute;
  font-family: "Raleway", sans-serif;
  left: 24.8%;
  top: 49%;
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.dots__dot-1:hover .dots__card {
  visibility: visible;
  opacity: 1;
}
.dots__card {
  visibility: hidden;
  width: 330px;
  height: 320px;
  border-radius: 15px;
  padding: 36px 0px 0px 20px;
  color: #fff;
  position: absolute;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  top: -100px;
  margin: 0px 0px 0px 20px;
}
.dots__card::after {
  content: " ";
  position: absolute;
  top: 30%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
}
.dots__number {
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: -5px;
  font-size: 7em;
  padding: 0px 10px 0px 0px;
  color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.dots__title {
  font-size: 64px;
  font-weight: 900;
  display: inline-block;
  background: linear-gradient(45deg, #8b008b, tomato, #ee82ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 0px 10px 0px;
}
.dots__title1 {
  font-size: 64px;
  font-weight: 900;
  display: inline-block;
  background: linear-gradient(45deg, #52c234, #0f9b0f, #061700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 0px 10px 0px;
}
.dots__subtitle {
  font-size: 28px;
  font-weight: 400;
  text-align-last: left;
}
.dots__img {
  position: absolute;
  bottom: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: none;
}

.dots__card1 {
  visibility: hidden;
  width: 330px;
  height: 270px;
  border-radius: 15px;
  padding: 36px 0px 0px 10px;
  color: #fff;
  position: absolute;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  top: -100px;
  left: 110%;
}
.dots__card1::after {
  content: " ";
  position: absolute;
  top: 44%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
}

.test {
  height: 70vh;
}

.test1 {
  height: 100vh;
  background-color: #000;
  position: relative;
}

.active-when-scroll-title {
  -webkit-animation: slide-out-left 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.active-when-scroll-subtitle {
  -webkit-animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.active-when-scroll-marker {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.active-when-scroll-marker1 {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.active-when-scroll-backToTop {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
