@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;900&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgb(21, 21, 21);
  cursor: none;
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: absolute;
  z-index: 9991;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  cursor: none;
}
.header__content {
  max-width: 1200px;
  min-height: 150px;
  margin: 0px auto;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  white-space: nowrap;
  cursor: none;
}
.header__left span {
  font-weight: 300;
  transition: color 1s ease;
}
.header__left:hover {
  text-decoration: none;
  color: #fff;
}
.header__left:hover span {
  color: #440dfe;
}
@media (max-width: 47.99875em) {
  .header__left {
    font-size: 20px;
  }
}
.header__button {
  cursor: none;
  background-color: #440dfe;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 1.5em;
  font-size: 18px;
  font-weight: 400;
  transition: background-color 0.5s ease;
  font-family: "Ubuntu", sans-serif;
}
.header__button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0f003f;
}
@media (max-width: 47.99875em) {
  .header__button {
    font-size: 16px;
  }
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(21, 21, 21);
  z-index: 9999;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading__percent {
  font-family: "Ubuntu";
  color: #fff;
  font-size: 100px;
  padding: 0px 0px 35px 0px;
}
@media (max-width: 47.99875em) {
  .loading__percent {
    font-size: 92px;
  }
}
.loading__progress-bar {
  width: 406px;
  height: 10px;
  background: #070707;
  border-radius: 13px;
  box-sizing: border-box;
}
@media (max-width: 47.99875em) {
  .loading__progress-bar {
    width: 306px;
    height: 5px;
  }
}
.loading.done {
  opacity: 0;
  visibility: hidden;
}

.progress-bar__progress {
  width: 200px;
  height: 10px;
  background: #fd4679;
  border-radius: 13px;
}
@media (max-width: 47.99875em) {
  .progress-bar__progress {
    border-radius: 6.5px;
  }
}

.scrolltotop {
  width: 60px;
  height: 60px;
  background-color: #440dfe;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 1.5em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease 0s;
  z-index: 10;
  cursor: none;
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@media (max-width: 47.99875em) {
  .scrolltotop:active {
    background-color: #0f003f;
  }
}
.scrolltotop:hover {
  background-color: #0f003f;
}
@media (max-width: 47.99875em) {
  .scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 1em;
  }
}
@media (max-width: 47.99875em) {
  .scrolltotop__arrow {
    height: 24px;
    width: 24px;
  }
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 9992;
}
.cursor--large {
  --size: 40px;
  border: 1px solid #fd4679;
}
.cursor--small {
  --size: 10px;
  background: #fd4679;
  transform: translate(-50%, -50%);
}
@media (max-width: 47.99875em) {
  .cursor {
    display: none;
  }
}

::selection {
  background-color: #440dfe;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0;
}

.progress-bar {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 2px;
  width: 0%;
  background: #440dfe;
}

.page {
  background-color: rgb(21, 21, 21);
  scroll-behavior: smooth;
}

.inscription {
  position: absolute;
  z-index: 3;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inscription__text {
  font-size: 38px;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .inscription__text {
    font-size: 30px;
  }
}
.inscription__title {
  padding: 0px 0px 30px 0px;
  color: #fff;
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.inscription__subtitle {
  color: #fff;
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@media (max-width: 47.99875em) {
  .inscription {
    text-align: center;
  }
}

.main {
  top: 10px;
  position: fixed;
  width: 100%;
  height: 100%;
}
.main__contain {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__content {
  width: 1240px;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__bg {
  width: 100%;
  height: 100%;
}

.dots__dot-0 {
  width: 0;
  height: 0;
  position: absolute;
  left: 24.4%;
  top: 57.5%;
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.dots__dot-0:hover .dots__card {
  visibility: visible;
  opacity: 1;
}
.dots__dot-1 {
  width: 0;
  height: 0;
  position: absolute;
  left: 16.5%;
  top: 42%;
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.dots__dot-1:hover .dots__card {
  visibility: visible;
  opacity: 1;
}
.dots__dot-2 {
  width: 0;
  height: 0;
  position: absolute;
  left: 85.2%;
  top: 53.7%;
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.dots__dot-2:hover .dots__card_left {
  visibility: visible;
  opacity: 1;
}
.dots__img {
  position: absolute;
  bottom: 0;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: none;
}
@media (max-width: 47.99875em) {
  .dots__img {
    width: 30px;
    height: 30px;
  }
}
.dots__card {
  position: absolute;
  width: 370px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  z-index: 1;
  top: -100px;
  margin: 0px 0px 0px 20px;
}
.dots__card::after {
  content: " ";
  position: absolute;
  top: 33.5%;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
}
.dots__card_left {
  position: absolute;
  width: 370px;
  display: grid;
  grid-template-rows: 70px 1fr;
  border-radius: 15px;
  padding: 15px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.05);
  transition: opacity 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  right: 20px;
  top: -100px;
}
.dots__card_left::after {
  content: " ";
  position: absolute;
  top: 33%;
  left: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}

.card__header {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 70px;
}
.card__title {
  font-size: 5em;
  font-weight: 900;
  background: linear-gradient(45deg, #8b008b, tomato, #ee82ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__title_Alberta {
  font-size: 5em;
  font-weight: 900;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgb(0, 93, 133) 0%, rgb(0, 181, 149) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__title_Honshu {
  font-size: 5em;
  font-weight: 900;
  background: linear-gradient(-45deg, #f492f0 0%, #f9c58d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card__number {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 5em;
  justify-self: end;
  color: rgba(255, 255, 255, 0.3);
}
.card__text {
  font-size: 28px;
  font-weight: 400;
  text-align: justify;
}

.test {
  height: 200vh;
}

.description {
  position: absolute;
  font-size: calc((1vw + 1vh) * 0.8);
  top: 20vh;
  left: 4vw;
  max-width: 24vw;
  line-height: 1.8;
  transition: opacity 0.75s cubic-bezier(0.2, 0.6, 0, 1), transform 0.75s cubic-bezier(0.2, 0.6, 0, 1);
}
.description__logo {
  fontfamily: "Ubuntu";
  font-size: calc((1vw + 1vh) * 3.6);
  font-weight: 900;
  display: inline-block;
  background: linear-gradient(45deg, #8b008b, tomato, #ee82ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description__text {
  opacity: 0.8;
  transition: transform 0.75s cubic-bezier(0.2, 0.6, 0, 1);
  transition-duration: 3s;
}

.description.hidden {
  opacity: 0;
  transform: translateY(5vh);
}

.description.hidden p {
  transform: translateY(2vh);
}

.miami__slider {
  transform: rotate(15deg);
  height: 100%;
  overflow: visible !important;
  padding-top: 10vh;
}
.miami__wrapper {
  transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1) !important;
  overflow: visible;
}
.miami__slide {
  max-height: 75vh;
  overflow: hidden;
  width: 40vh;
}
.miami__img {
  height: 100%;
  width: 400%;
  margin: 0px 0px 0px -150%;
  transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1) !important;
}

.miami1__slider {
  height: 100%;
  overflow: visible !important;
  padding-top: 10vh;
}
.miami1__wrapper {
  transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1) !important;
  overflow: visible;
}
.miami1__slide {
  max-height: 95vh;
  overflow: hidden;
}
.miami1__img {
  height: 100%;
  width: 300%;
  margin: 0px 0px 0px -100%;
  transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1) !important;
}

.swiper-bg {
  opacity: 0.15;
  transform: rotate(-20deg) !important;
  margin-top: -90vh;
  margin-left: -10vh;
  filter: blur(120px) saturate(10);
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
  text-transform: uppercase;
  width: min-content;
  line-height: 1;
}

.Alberta-page {
  font-size: calc((1vw + 1vh) * 0.8);
  line-height: 1.75;
  height: 4500px;
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1500px;
}

.gallery {
  transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1), opacity 0.75s ease;
  will-change: transform;
  transform-style: preserve-3d;
}
.frame h2 {
  text-align: center;
  font-size: calc((1vw + 1vh) * 3.3);
}
.frame h3 {
  font-size: calc((1vw + 1vh) * 3);
}
.frame p {
  max-width: 30vw;
  margin-top: 3vh;
}
.frame_bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.frame-media {
  position: relative;
  width: calc((1vw + 1vh) * 26);
  height: calc((1vw + 1vh) * 36);
  background-position: center;
  background-size: cover;
}
.frame-media video {
  width: calc((1vw + 1vh) * 36);
  height: calc((1vw + 1vh) * 26);
}
.frame-media_left {
  right: calc(13 * (1vw + 1vh) + 30px);
}
.frame-media_left video {
  right: calc(18 * (1vw + 1vh) + 30px);
}
.frame-media_right {
  left: calc(13 * (1vw + 1vh) + 30px);
}
.frame-media_right video {
  left: calc(18 * (1vw + 1vh) + 30px);
}

.text-right {
  position: relative;
  left: 18vw;
}

.text-left {
  position: relative;
  right: 18vw;
}

.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  width: 24px;
  transition: 0.25s ease;
}

.paused {
  opacity: 0.25;
}

.Honshu-page {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.name {
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.1em;
  font-size: calc((1vw + 1vh) * 2.8);
  position: absolute;
  font-weight: 200;
  text-align: center;
  opacity: 0.9;
  margin-top: 0.2em;
  cursor: none;
}

.galery {
  cursor: none;
  width: 30vw;
  column-width: 2em;
  gap: 0.65em;
  transform: scale(8.2);
  will-change: transform;
  transition: transform 1s cubic-bezier(0.075, 1, 0.25, 1), opacity 1s;
}
.galery__item {
  cursor: none;
  margin-bottom: 0.65em;
  transform: scale(1.001);
  will-change: transform;
  transition: 0.3s;
}
.galery__item:hover {
  transform: scale(1.03);
}
.galery__item img {
  width: 100%;
  display: block;
}

@media (max-width: 47.99875em) {
  .Honshu-page {
    overflow: scroll;
    display: block;
    padding: var(--gap);
  }

  .gallery {
    width: 100%;
    column-width: 10em;
    transform: scale(1);
  }

  .gallery__item:hover {
    transform: scale(1);
  }
}
.active-when-scroll-title {
  -webkit-animation: slide-out-left 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-left 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.active-when-scroll-subtitle {
  -webkit-animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.active-when-scroll-marker {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.active-when-scroll-marker1 {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.active-when-scroll-backToTop {
  -webkit-animation: bounce-in-right 1.1s both;
  animation: bounce-in-right 1.1s both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-bottom {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
